body{
    font-family: 'Poppins', sans-serif;
    margin: 1px;
}
h1{
    color:black;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left:2%;
    margin:100px;
}
.half-width img{
    width:100%;
    padding-left:0%;

}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,rgb(230, 19, 54));
    padding:10px 30px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/l.jpg);
    background-size:250px;
    background-repeat:no-repeat;
}
.dream-big{
    background-image: url(p.png);
    background-repeat: no-repeat;
    background-position:right;
}

}

